* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 255, 255);
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
}

.nav-bar {
  background-color: rgb(102, 205, 170);
  width: 300px;
  height: 100%;
  font-size: 1.7rem;
  position: fixed;
  padding: 20px;

  z-index: 1;
}

.menu-list {
  font-size: 1.8rem;
  padding: 25px;
  font-family: "Alkatra", cursive;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
}

a:hover {
  background: rgba(245, 245, 245, 0.5);
  font-size: 2rem;
}

.website-title {
  padding: 50px 0;
  font-family: "Lobster", cursive;
  font-size: 2.7rem;
  background-image: url(images/title-design-wallpaper.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.theme {
  font-size: 3.2rem;
}

hr {
  width: 110px;
  border: 4px inset rgb(127, 255, 212);
  border-radius: 8px;
}

.main-container {
  width: 82%;
  font-size: 1.5rem;
  padding: 20px;
  margin-left: 310px;
}

div[class*="container"] {
  margin-bottom: 55px;
}

form {
  display: block;
}

.showcase-images {
  width: 100%;
  height: auto;
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(640px, 110px));
  grid-template-rows: auto;
  gap: 15px 25px;
}

.showcase-images img {
  max-width: 100%;
  width: 640px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.description {
  padding-top: 35px;
}

.team-members {
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.members {
  width: 100%;
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 120px));
  grid-template-rows: auto;
  gap: 15px 10px;
  padding: 20px 0;
}

.members img {
  border-radius: 10px;
  width: 415px;
  height: 280px;
}

form {
  padding: 25px 0;
}

.footer {
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 65px;
  padding: 20px;
  text-align: end;
}
